PORT=3001
DB_SERVER=localhost
DB_NAME=zygerria_map
DB_USER=sa
DB_PASSWORD=TuContraseñaSQL
DB_PORT=1433
DB_TRUST_CERT=true
DB_ENCRYPT=false
JWT_SECRET=zygerria_map_secret_key_cambiar_en_produccion
JWT_EXPIRES_IN=24h
